body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the navigation container */
nav ul {
    list-style-type: none; /* Removes bullet points */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Clears floats */
    background-color: #333; /* Dark background color */
}

/* Style the list items to be side-by-side */
nav li {
    float: left; /* Aligns list items horizontally */
}

/* Style the links inside the list items */
nav li a {
    display: block; /* Makes the whole area clickable */
    font-weight: bold;
    color: white; /* White text color */
    text-align: center; /* Center-aligns the text */
    padding: 14px 16px; /* Adds space around the text */
    text-decoration: none; /* Removes underlines from links */
}

/* Change the color of links on hover */
nav li a:hover {
    background-color: #111;
    transition: 0.4s;
}

/* Add a color to the active/current link */
nav li a.active {
    background-color: cornflowerblue;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Pushes content to the far ends */
    background-color: #333;
}

.nav-right span{
    display: block;
    color: gold;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    padding: 5px 15px 5px 0px;
}

#logout:hover{
    transition: 0.5s;
    background-color: rgb(255, 66, 66);
}

#search{
    margin: 0px 20px;
}
#search label{
    color: whitesmoke;
    font-weight: bold;
}
#search input{
    padding: 10px;
    width: 300px;
}
#search button{
    background-color: cornflowerblue;
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
}
#search button:hover{
    cursor: pointer;
    background-color: rgba(100, 148, 237, 0.689);
    transition: 0.3s;
}